/* 
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 150px;
  }
  
  .gallery-item {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
   */

   .text{
    font-weight: bolder;
    
   }

 
.gallery {
    text-align: center;
    padding: 150px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px;
  }
  
  .card {
    width: 200px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-25px);
  }

  .card-img-top {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  